<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>

</head>
<head th:replace="/fragments/head.html :: head"/>
<body>

<div class="container">
    <div th:replace="/fragments/sidebar.html ::  sidebar"/>

    <div class="content calendar">
        <table class="calendarTable">
            <tr>
                <td rowspan="2"></td>
                <td class="date" colspan="7">
                    <select name="year">
                        <option value="2021" selected>2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                    <span>년</span>
                    <select name="month">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11" selected>11</option>
                        <option value="12">12</option>
                    </select>
                    <span>월</span>
                    <select name="week">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span>주차</span>
                </td>
            </tr>
            <tr>
                <td class="monday"><span>08</span> (월)</td>
                <td class="tuesday"><span>09</span> (화)</td>
                <td class="wednesday"><span>10</span> (수)</td>
                <td class="thursday"><span>11</span> (목)</td>
                <td class="friday"><span>12</span> (금)</td>
                <td class="saturday"><span>13</span> (토)</td>
                <td class="sunday"><span>14</span> (일)</td>
            </tr>
            <tr id="room1">
                <td class="roomName">101호</td>
                <td></td>
                <td><div>원준희</div><div>010</div></td>
                <td><div>원준희</div><div>010</div></td>
                <td><div>원준희</div><div>010</div></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="room2">
                <td>101호</td>
                <td></td>
                <td></td>
                <td><div>부대환</div><div>010-9134-6572</div></td>
                <td><div>부대환</div><div>010-9134-6572</div></td>
                <td><div>부대환</div><div>010-9134-6572</div></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="room3">
                <td>101호</td>
                <td></td>
                <td></td>
                <td><div>부대환</div><div>010-9134-6572</div></td>
                <td><div>원준희</div><div>010</div></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div th:replace="/inn/calendarModal.html ::  calendarModal"/>
</div>


</body>

<script th:src="@{/js/pages/calendar.js}"></script>
</html>