<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</head>

<!--nav main-->
<div th:fragment="nav-main">
    <nav class="navbar navbar-expand-md navbar-white bg-gray px-3">
        <div class="container-fluid mt-1">
            <a href="/" class="navbar-brand" th:href="@{/}">
<!--                <img height="50px" src="/images/logo-dboolog.png"/>-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/view/sign-up}" sec:authorize="isAuthenticated()">내 예약대장</a>
                    </li>
                </ul>
                <div class="mx-3 d-flex justify-content-center">
                    <a type="form-control button" class="btn me-3" sec:authorize="!isAuthenticated()" th:href="@{/view/sign-up}">회원가입</a>
                    <a type="form-control button" class="btn btn-success" sec:authorize="!isAuthenticated()" th:href="@{/view/login}">로그인</a>
                    <div class="dropdown" sec:authorize="isAuthenticated()">
                        <a class="dropdown-toggle btn" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown">내 정보</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" th:href="@{/view/profile}">프로필 및 설정</a></li>
                            <li><a class="dropdown-item" id="logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="dropdown-divider"></div>
</div>
</html>

<script>
    $(document).on('click', '#logout', function(){
        get("/api/account/logout", function(){
            location.href = "/";
        });
    })
</script>