<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--nav main-->
<div th:fragment="nav-main">
    <nav class="navbar navbar-expand-md navbar-white bg-gray px-3">
        <div class="container-fluid mt-1">
            <a href="/" class="navbar-brand" th:href="@{/}">
                <!--                <img height="50px" src="/images/logo-dboolog.png"/>-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!--                        <a class="" href="#" th:href="@{/view/sign-up}" sec:authorize="isAuthenticated()">내 예약대장</a>-->
                    </li>
                </ul>
                <div class="mx-3 d-flex justify-content-center">
                    <a type="form-control button" class="btn btn-outline-dark me-3" sec:authorize="!isAuthenticated()" th:href="@{/view/sign-up}">회원가입</a>
                    <a type="form-control button" class="btn btn-outline-success" sec:authorize="!isAuthenticated()" th:href="@{/view/login}">로그인</a>
                    <a id="logout" type="form-control button" class="btn btn-outline-secondary" sec:authorize="isAuthenticated()">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
</div>


</html>

<script>
    $(document).on('click', '#logout', function(){
        get("/api/account/logout", function(){
            location.href = "/";
        });
    })
</script>