<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head.html :: head"/>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>

</head>

<body>

<div class="sidebar" th:fragment="sidebar">
    <div class="sidebarInner">
        <h2> INN RESERVE</h2>
        <ul>
            <li class="sidebar-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/view/calendar}">예약 달력</a>
            </li>
            <li class="sidebar-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/view/reservation}">예약 대장</a>
            </li>
            <li class="sidebar-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/view/room}">방 정보</a>
            </li>
            <li class="sidebar-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/view/inn}">숙소 정보</a>
            </li>
            <li class="sidebar-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/view/profile}">내 정보</a>
            </li>
        </ul>
        <div class="sidebarFooter">
            <button type="button" th:onclick="|location.href='@{/view/login}'|"
                    sec:authorize="!isAuthenticated()">로그인</button>
            <button id="logout-button" type="button" sec:authorize="isAuthenticated()">로그아웃</button>
            <button type="button" sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/view/sign-up}'|">회원가입</button>
        </div>
    </div>
</div>

</body>

<script>
</script>

</html>
