* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body{
    max-height: 100vh;
    overflow: hidden;
}

.container{
}


.content{
    height: 100vh;
    padding: 20px 20px 20px 320px;
}

.alignCenter{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*login signup form*/

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 30%;
    height: 600px;
    background: white;
    /*border-radius: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #0e255e;
    font-size: 2em;
}
.login_sns {
    padding: 20px;
    display: flex;
}

.login_sns li {
    padding: 0px 15px;
}

.login_sns a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}


.formWrap {
    margin-top: 25px;
    width: 80%;
    position: relative;
}

.formWrap input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent{
    width: 700px;
    padding: 40px;
    background: white;
    position:relative;
}

/* The Close Button */
.modalContent span.close {
    position:absolute;
    top:10px;
    right:10px;
    color: #333;
    font-size: 30px;
}

.modalContent span.close:hover,
.modalContent span.close:focus {
    color: #b4b4b4;
    cursor: pointer;
}

.modalForm {
    margin-top: 25px;
    width: 100%;
    position: relative;
}

.modalForm label{
    display: inline-block;
    width: 150px;
}

.modalForm input {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid lightgray;
    outline: none;
    text-align: center;
}

.modalForm input.schedule {
    width: 150px;
}

.modalForm .controlBtn{
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 100%;

    width: 40px;
    height: 40px;
    line-height: 40px;

    font-size: 20px;
    background: white;
    color: black;
}

.modalForm .controlBtn:first-child{
    margin-left: 0;
}
.modalForm .btnWrap{
    display: inline-block;
    margin-left: 20px;
}

.login_etc {
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.submit {
    margin-top: 40px;
    width: 80%;
}
.submit button {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: #0e255e;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.signUpLink {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}
.signUpLink a {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: none;
    color: black;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.d-none {
    display: none;
}

.formWrap input.border-danger{
    border: 1px firebrick solid;
}

.warn-message{
    position: absolute;
    bottom: -20px;
    left: 0;
    color: firebrick;
}

.signUp {
    width: 30%;
    height: 600px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #0e255e;
}

.sidebarInner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.sidebarInner h2{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.sidebar-item{
    margin-left: 80px;
    border-bottom: 1px solid white;
    padding: 10px 0 10px 30px;
    font-size: 2.1rem;
}

.sidebar-item a{
    color: white;
}

.sidebar-item a{
    font-size: 1.4rem;
}

.sidebarInner .h2{
    color: white;
}

.sidebarFooter{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 475px);
}

.sidebarFooter button{
    background: transparent;
    border: 1px solid #f7f7f7;
    margin-bottom: 20px;
    display: block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 0.9rem;
}

.profile{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileList{
    margin-top: 50px;
    width: 30%;
}

.profileList li{
    margin-top: 15px;
    width: 100%;
    font-size: 0;
}

.profileList li span {
    display: inline-block;
    font-size: 20px;
}

.profileKeys{
    text-align: right;
    padding-right: 20px;
    width: 40%;
}

.profileValues{
    width: 60%;
}

.calendar{
    width: 100%;
}

.calendarTable{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.calendarTable td{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    width: 12.5%;
    text-align: center;
}

.calendarTable td select{
    /*margin-left: 10px;*/
    margin-right: 5px;
    height: 40px;
    padding: 5px;
    font-size: 2.1rem;
    text-align: center;
    border: none;
    color: #0a3f38;
}

.calendarTable .date{
    font-size: 30px;
}

.calendarTable tr:nth-child(2) td:nth-child(6){
    background: cornflowerblue;
}

.calendarTable tr:nth-child(2) td:nth-child(7){
    background: indianred;
}

.calendarTable tr:nth-child(1) td:nth-child(-n+2) {
    border: none;
    height: 100px;
}

.calendarTable tr:nth-child(n+3) td:nth-child(1) {
    font-size: 20px;
    color: #0e255e;
    font-weight: bold;
}

.calendarTable tr:nth-child(2n+3) td:nth-child(n+2){
    background: #d9d9d9;
}


.calendarTable tr:nth-child(1) {
    border: none;
}

.calendarTable .reserved{
    background: rgb(238, 197, 127) !important;
}



