<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">-->
<!--    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>-->

<!--</head>-->
<head th:replace="/fragments/head.html :: head"/>
<body>

<div class="container">
    <div th:replace="/fragments/sidebar.html ::  sidebar"/>

    <div class="profile">
        <h2>내 정보</h2>
        <div class="profileList">
            <div class="profileKeys">
                <ul>
                    <li>아이디</li>
                    <li>성</li>
                    <li>이름</li>
                    <li>성별</li>
                    <li>핸드폰 번호</li>
                    <li>생년월일</li>
                </ul>
            </div>
            <div class="profileValues">
                <ul>
                    <li th:text="${account.userId}"> </li>
                    <li th:text="${account.lastname}"> </li>
                    <li th:text="${account.firstname}"> </li>
                    <li th:text="${account.gender}"> </li>
                    <li th:text="${account.cellPhone}"> </li>
                    <li th:text="${account.birth}"> </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>

<script th:src="@{/js/pages/profile.js}"></script>
</html>