<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"/>
<body>
  <div th:replace="/fragments/nav.html :: nav-main"/>
  <div class="container-sm">
    <div class="row d-flex justify-content-center p-3">
      <div class="col-md-7 col-lg-6 col-xl-4 col-xxl-4 p-3 m-5 border border-dark rounded" >
        <p class="fs-2 py-2">로그인</p>
        <div class="mb-3">
          <label for="userId" class="form-label">아이디</label>
          <input class="form-control" id="userId" aria-describedby="userId-help">
          <small id="userId-warn" class="form-text text-danger warn-message d-none">아이디 오류</small>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">패스워드</label>
          <input type="password" class="form-control" id="password" aria-describedby="password-help">
          <small id="password-warn" class="form-text text-danger warn-message d-none">패스워드 오류</small>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" id="login-button" class="btn btn-primary">로그인</button>
          <a id="signUp" class="btn btn-outline-warning" th:href="@{/sign-up}">가입하기</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="d-grid mx-auto gap-2 col-8">
          <a id="login-button-g" class="btn btn-outline-primary">
            <div class="row">
              <div class="col-2"><i class="fab fa-google"></i></div>
              <div class="col">Google 로그인</div>
            </div>
          </a>
          <a id="login-button-f" class="btn btn-outline-primary">
            <div class="row">
              <div class="col-2"><i class="fab fa-facebook-square"></i></div>
              <div class="col">facebook 로그인</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/fragments/footer.html :: footer"/>
</body>

<script src="/js/pages/login.js"></script>
</html>