<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"/>
<body>
<div class = "container">
    <div th:replace="/fragments/sidebar.html ::  sidebar"/>
    <div class="content inn">
        <h1>나의 숙소 정보</h1>
        <tr>
            <td>숙소 이름</td>
            <td>주소</td>
            <td>방 갯수</td>
        </tr>
        <tr th:each="inn:${innList}">
            <td><span th:text="${inn.innName}"></span></td>
            <td><span th:text="${inn.address}"></span></td>
            <td><span th:text="${inn.rooms.size()}"></span></td>
        </tr>
    </div>

    <div th:replace="/inn/innModal.html ::  innModal"/>
</div>
</body>
</html>