<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"/>
<body>
<div class = "row">
    <div class="col-2">
        <div th:replace="/fragments/sidebar.html ::  sidebar"/>
    </div>
    <div class="col">
        <div th:replace="/fragments/nav.html :: nav-main"/>
        <h1>환영합니다. 숙소설정 사이트 입니다.</h1>
        <div th:replace="/fragments/footer.html :: footer"/>
    </div>
    <div th:replace="/inn/innModal.html ::  innModal"/>
</div>
</body>
</html>