<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">-->
<!--    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>-->
<!--</head>-->
<head th:replace="/fragments/head.html :: head"/>
<body>

<div class="modal" th:fragment="reserveModal">

    <form class="modalContent">
        <h2>예약 등록/수정</h2>
        <div class="modalForm">
            <label for="whoReserve" class="form-label">예약자 성명</label>
            <input id="whoReserve" aria-describedby="whoReserve-help" placeholder="홍길동">
            <small id="whoReserve-warn" class="warn-message d-none"></small>
        </div>
        <div class="modalForm">
            <label class="form-label">예약일정</label>
            <input class="schedule" id="schedule1" aria-describedby="howLong-help" placeholder="21.11.10">
            <input class="schedule" id="schedule2" aria-describedby="howLong-help" placeholder="21.11.12">
        </div>
        <div class="modalForm">
            <label for="howLong" class="form-label">몇박</label>
            <input id="howLong" aria-describedby="howLong-help" placeholder="3박">
            <div class="btnWrap">
                <button class="controlBtn" type="button">-</button>
                <button class="controlBtn" type="button">+</button>
            </div>
        </div>

        <button class="cancelButton" type="button">취소</button>
        <button class="confirmButton" type="button">완료</button>
    </form>

</div>

</body>

<script th:src="@{/js/pages/calendar.js}"></script>
</html>