<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>

</head>
<head th:replace="/fragments/head.html :: head"/>
<body>
<div class="container">
    <div th:replace="/fragments/sidebar.html ::  sidebar"/>
    <div class="content room">
        <table class="roomTable">
            <tr>
                <td>숙소 이름</td>
                <td>방 이름/번호</td>
                <td>정원</td>
                <td>침실 수</td>
                <td>특이사항</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>